* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
}

// Site navigation

.navigation {
    background-color: #FFFFFF;
    padding: 14px 30px;
    display: flex;
    align-items: center;
}