/*
    STYLING TODO:
    * fix image gallery and make it responsive - BONUS (not necessary) make interactive
*/

// Media query variables
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #333333;
    font-weight: 400;
    @media (min-width: $tablet) {
        font-size: 19px;
    }
    @media (min-width: $laptop) {
        font-size: 22px;
    }
    @media (min-width: $laptopL) {
        font-size: 24px;
    }
    @media (min-width: $fourK) {
        font-size: 36px;
    }
}

a {
    color: #FFFFFF;
}

p {
    line-height: 2;
}

h2 {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2.4rem;
    @media (min-width: $laptopL) {
        font-size: 3.3rem;
    }
    @media (min-width: $fourK) {
        font-size: 5.3rem;
    }
}

// Container

.container {
    width: 290px;
    min-width: 290px;
    margin: 0 auto;
    @media (min-width: $mobileL) {
        width: 365px;
        min-width: 365px;
    }
    @media (min-width: $tablet) {
        width: 688px;
        min-width: 688px;
    }
    @media (min-width: $laptopL) {
        width: 1330px;
        min-width: 1330px;
    }
    @media (min-width: $fourK) {
        width: 2300px;
        min-width: 2300px;
    }
}


.padding-top {
    padding-top: 55px;
    padding-bottom: 55px;
    @media (min-width: $laptopL) {
        padding-top: 105px;
        padding-bottom: 105px;
    }
    @media (min-width: $fourK) {
        padding-top: 145px;
        padding-bottom: 145px;
    }
}

.padding-bottom {
    padding-bottom: 85px;
    @media (min-width: $laptopL) {
        padding-bottom: 145px;
    }
    @media (min-width: $fourK) {
        padding-bottom: 185px;
    }
}

// Buttons
.button {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    line-height: 1;
    display: block;
    text-decoration: none;
    padding: 10px 60px;
    text-align: center;
    margin-bottom: 1rem;
    @media (min-width: $tablet) {
        display: inline-block;
        font-size: 1.2rem;
        padding: 15px 65px;
    }
    @media (min-width: $laptopL) {
        font-size: 1.4rem;
        padding: 20px 70px;
    }
    @media (min-width: $fourK) {
        font-size: 2.5rem;
        padding: 35px 85px;
    }
}

// Site navigation

.navigation {
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $laptopL) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__logo {
        div {
            height: 45px!important;
            width: (45 * 3.575)+px!important;
            @media (min-width: $laptop) {
                height: 55px!important;
                width: (55 * 3.575)+px!important;
            }
            @media (min-width: $laptopL) {
                height: 80px!important;
                width: (80 * 3.575)+px!important;
            }
            @media (min-width: $fourK) {
                height: 120px!important;
                width: (120 * 3.575)+px!important;
            }
        }
    }
}

// Front page header
.front-header {
    padding-top: 65px;
    padding-bottom: 120px;
    overflow: hidden;
    perspective: 1px;
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
    color: #FFFFFF;
    &__title {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 0;
    }
    &__sub-title {
        font-size: 1.3rem;
        font-weight: 300;
    }
    &__body-text {
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 90px;
        line-height: 1.4;
    }
    &__cta-primary {
        background-color: #62B92C;
        color: #FFFFFF;
    }
    &__cta-secondary {
        background-color: #FFFFFF;
        color: #000000;
    }
    @media (min-width: $tablet) {
        &__title {
            font-size: 3rem;
        }
        &__sub-title {
            font-size: 2rem;
        }
        &__body-text {
            font-size: 1.3rem;
        }
        &__cta-primary {
            margin-right: 1rem;
        }
    }
    @media (min-width: $laptop) {
        &__body-text {
            margin-bottom: 70px;
        }
    }
    @media (min-width: $laptopL) {
        padding-top: 105px;
        padding-bottom: 180px;
        &__title {
            font-size: 4.5rem;
        }
        &__sub-title {
            font-size: 2.4rem;
        }
        &__body-text {
            font-size: 1.7rem;
        }
    }
    @media (min-width: $fourK) {
        padding-top: 165px;
        padding-bottom: 290px;
        &__title {
            font-size: 8rem;
        }
        &__sub-title {
            font-size: 4rem;
        }
        &__body-text {
            font-size: 2.7rem;
        }
        &__cta-primary {
            margin-right: 3rem;
        }
    }
}

// Om oss section

// Section Image Gallery
.image-gallery {
    &__images {
        display: flex;
        flex-wrap: wrap;
        &__image {
            width: 50%!important;
            height: 50%!important;
            @media (min-width: $tablet) {
                width: 33%!important;
            }
            @media (min-width: $laptopL) {
                width: 16.6%!important;
            }
            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
    }
}

// Final convertion section
.final-convert {
    background-color: #333333;
    color: #FFFFFF;
    &__title {
        color: #62B92C;
    }
}

// Contact information
.contact-information {
    &__icon {
        div {
            height: 1em!important;
            width: 1em!important;
            margin-right: 25px;
            top: 3px;
        }
    }
}

// Site footer
.site-footer {
    text-align: center;
    color: #FFFFFF;
    background-color: #62B92C;
    &__footer-title {
        font-size: 1.3rem;
        font-weight: 900;
        @media (min-width: $laptopL) {
            font-size: 2.3rem;
        }
        @media (min-width: $fourK) {
            font-size: 4.3rem;
        }
    }
}