* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #333333;
}

p {
    line-height: 2;
}

h2 {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2.4rem;
}

/*
    TODO:
    * make responsive container
*/

// Site navigation

.navigation {
    background-color: #FFFFFF;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__log-in-link {
        a {
            font-size: 0.85rem;
            color: #333333;
        }
    }
}

// Front page header
.front-header {
    padding: 30px;
    padding-top: 65px;
    padding-bottom: 120px;
    color: #FFFFFF;
    &__title {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 0;
    }
    &__sub-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 300;
    }
    &__body-text {
        font-size: 1rem;
        font-weight: 200;
        padding-bottom: 90px;
        line-height: 1.4;
    }
    &__cta-primary {
        background-color: #62B92C;
        color: #FFFFFF;
        margin: 0;
        line-height: 1;
        display: block;
        text-decoration: none;
        padding: 10px 60px;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__cta-secondary {
        background-color: #FFFFFF;
        color: #000000;
        margin: 0;
        line-height: 1;
        display: block;
        text-decoration: none;
        padding: 10px 60px;
        text-align: center;
    }
}

// Section Om oss
.om-oss {
    padding: 30px;
    padding-top: 55px;
}