* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #333333;
    font-weight: 400;
}

a {
    color: #FFFFFF;
}

p {
    line-height: 2;
}

h2 {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2.4rem;
}

/*
    TODO:
    * make responsive container
    * make everything responsive
*/

// Media query variables
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

// Container

.container {
    width: 300px;
    min-width: 300px;
    margin: 0 auto;
    @media (min-width: $mobileL) {
        width: 365px;
        min-width: 365px;
    }
    @media (min-width: $tablet) {
        width: 706px;
        min-width: 706px;
    }
    @media (min-width: $laptopL) {
        width: 1330px;
        min-width: 1330px;
    }
}

// Buttons
.button {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    line-height: 1;
    display: block;
    text-decoration: none;
    padding: 10px 60px;
    text-align: center;
    margin-bottom: 1rem;
    @media (min-width: $tablet) {
        display: inline-block;
        font-size: 1.2rem;
        padding: 15px 65px;
    }
    @media (min-width: $laptopL) {
        font-size: 1.4rem;
        padding: 20px 70px;
    }
}

// Site navigation

.navigation {
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $laptopL) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__logo {
        div {
            height: 45px!important;
            width: (45 * 3.575)+px!important;
            @media (min-width: $laptop) {
                height: 55px!important;
                width: (55 * 3.575)+px!important;
            }
            @media (min-width: $laptopL) {
                height: 80px!important;
                width: (80 * 3.575)+px!important;
            }
        }
    }
}

// Front page header
.front-header {
    padding-top: 65px;
    padding-bottom: 120px;
    color: #FFFFFF;
    &__title {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 0;
    }
    &__sub-title {
        font-size: 1.3rem;
        font-weight: 300;
    }
    &__body-text {
        font-size: 1rem;
        font-weight: 200;
        padding-bottom: 90px;
        line-height: 1.4;
    }
    &__cta-primary {
        background-color: #62B92C;
        color: #FFFFFF;
    }
    &__cta-secondary {
        background-color: #FFFFFF;
        color: #000000;
    }
    @media (min-width: $tablet) {
        &__title {
            font-size: 3rem;
        }
        &__sub-title {
            font-size: 2rem;
        }
        &__body-text {
            font-size: 1.3rem;
        }
        &__cta-primary {
            margin-right: 1rem;
        }
    }
    @media (min-width: $laptopL) {
        padding-top: 105px;
        padding-bottom: 150px;
        &__title {
            font-size: 4.5rem;
        }
        &__sub-title {
            font-size: 2.4rem;
        }
        &__body-text {
            font-size: 1.7rem;
        }
    }
}

// Section Om oss

// Section Image Gallery
.image-gallery {
    &__images {
        display: flex;
        flex-wrap: wrap;
    }
}

// Final convertion section
.final-convert {
    background-color: #333333;
    color: #FFFFFF;
    padding-bottom: 85px;
    &__title {
        color: #62B92C;
    }
}

// Contact information
.contact-information {
    padding-bottom: 85px;
    &__icon {
        div {
            height: 1em!important;
            width: 1em!important;
            margin-right: 25px;
            top: 3px;
        }
    }
}

// Site footer
.site-footer {
    padding-bottom: 55px;
    text-align: center;
    color: #FFFFFF;
    background-color: #62B92C;
    &__designer-signature {
        font-size: 0.8rem;
    }
}